 
:root {
    --primary-bg: rgb(255, 255, 255);
    --text-light:rgb(17, 16, 16);
    --sidebar-bg: rgba(41, 41, 38, 0.95);
}

body {
    font-family: 'Italiana', serif;
    background-color: var(--primary-bg);
    color: var(--text-light);
    overflow-x: hidden;
}

/* Helper classes */
.fade-in {
    opacity: 0;
}

/* Buttons */
.cta-button { 
    padding: 12px 30px;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    transition: all 0.3s ease; 
    opacity: 1 !important;
    visibility: visible !important;

    &:hover {
        background-color: #fff;
        color: #1a1a1a;
    }
}

/* Responsive Adjustments */
@media (max-width: 992px) {
    .bottom-statement {
        right: 50%;
        transform: translateX(50%);
        text-align: center;
        bottom: 0;
    }
}
