@use "media-breakpoints" as *; 

$primary-color: #ffcc00;
$background-color:#fff;
$text-color: #000;
$secondary-text: #bbb;
$button-bg: #ffcc00;
$button-hover: #5936a8;

.hero-section {
    background-color: $background-color;
    color: $text-color;
    padding: 80px 0px 0px 0px;
    min-height: 100vh;
    display: flex;
    align-items: center;
    position: relative;

    @include media-breakpoint-down(md) { 
        background-image: url('../assets/img/hero.png');
        background-size: cover;
        background-position: left;
        min-height: 100vh;
        background-repeat: no-repeat;
    }

    .hero-title {
        font-size: 3.8rem;
        font-weight: bold;
        line-height: 1.2;
        margin-bottom: 1.5rem; 
        
        @media (max-width: 1200px) {
            font-size: 2.2rem;
        }
        
        @media (max-width: 991px) {
            font-size: 2rem;
        }
        
        @media (max-width: 767px) {
            font-size: 1.8rem;
            text-align: center;
        }
        
        @media (max-width: 576px) {
            font-size: 1.6rem;
        }

        
    }

    .highlight {
        background: linear-gradient(90deg, #005EFF 0%, #FF00F2 100%);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        display: inline-block;
    }

    .hero-text {
        font-size: 18px;
       color:$text-color;
        margin: 15px 0 30px;
        max-width: 90%;
          font-family: 'Poppins', serif;
        
        @media (max-width: 767px) {
            font-size: 1rem;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
        }

         
    }

    .hero-btn {
         background: linear-gradient(90deg, #005EFF 0%, #FF00F2 100%);
        border: none;
        padding: 12px 24px;
        font-size: 1rem;
        font-weight: bold;
        border-radius: 6px;
        transition: all 0.3s ease;
        display: inline-block;
        
        &:hover {
            background-color: $button-hover;
            transform: translateY(-3px);
            box-shadow: 0 5px 15px rgba(111, 66, 193, 0.3);
        }
        
        @media (max-width: 767px) {
            display: block;
            margin: 0 auto;
            padding: 10px 20px;
        }
        
        @media (max-width: 576px) {
            font-size: 0.9rem;
            width: 100%;
        }
    }

    .note {
        font-size: 0.9rem;
        color: $secondary-text;
        margin-top: 10px;
        
        @media (max-width: 767px) {
            text-align: center;
            font-size: 0.8rem;
        }
    }

    .col-lg-6.text-center {
        position: relative;
    }

    .background-line {
        position: absolute;
        left: 17%;
        top: 35%;
        transform: translateY(-50%);
        width: 100%;
        z-index: 1;
    }

    .hero-image {
        max-width: 90%;
        border-radius: 10px;
        filter: brightness(90%);
        transition: transform 0.5s ease, filter 0.3s ease;
        position: relative;
        z-index: 2;
        -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, 0) 100%);
        &:hover {
            filter: brightness(100%);
            transform: scale(1.02);
        }
        
        @media (max-width: 991px) {
            max-width: 100%;
            margin-top: 40px;
        }
    }
    
    @media (max-width: 767px) {
        padding: 60px 0;
        
        .col-lg-6 {
            text-align: center;
            
            &:first-child {
                margin-bottom: 40px;
            }
        }
        
        .background-line {
            width: 90%;
            left: 5%;
        }
    }
    
    @media (max-width: 576px) {
        padding: 40px 0;
    }

    .hero-image-container{
          @include media-breakpoint-down(md) {
            display:none;
          }
    }
}